services:
  app:
    container_name: agrilearn_app
    image: ghcr.io/agrilearn-nexus/agrilearn-temp/app:latest
    #    build:
    #      context: .
    #      args:
    #        DATABASE_URL: $DATABASE_URL
    #        NEXTAUTH_URL: $NEXTAUTH_URL
    #        GOOGLE_CLIENT_ID: $GOOGLE_CLIENT_ID
    #        NEXT_PUBLIC_GOOGLE_CLIENT_ID: $NEXT_PUBLIC_GOOGLE_CLIENT_ID
    #        target: production
    #        R2_ENDPOINT: $R2_ENDPOINT
    #        R2_ACCESS_KEY_ID: $R2_ACCESS_KEY_ID
    #        R2_SECRET_ACCESS_KEY: $R2_SECRET_ACCESS_KEY
    #        R2_BUCKET_NAME: $R2_BUCKET_NAME
    #        R2_PUBLIC_BASE_URL: $R2_PUBLIC_BASE_URL
    #        INNGEST_EVENT_KEY: $INNGEST_EVENT_KEY
    #        INNGEST_SIGNING_KEY: $INNGEST_SIGNING_KEY
    #        INNGEST_BASE_URL: $INNGEST_BASE_URL

    restart: always

    ports:
      - "3000:3000"

    env_file:
      - .env

    environment:
      - BUILD_ID
      - NODE_ENV=production
      - DATABASE_URL
      - AUTH_SECRET
      - NEXTAUTH_URL
      - GOOGLE_CLIENT_ID
      - GOOGLE_CLIENT_SECRET
      - NEXT_PUBLIC_GOOGLE_CLIENT_ID
      - INNGEST_EVENT_KEY
      - INNGEST_SIGNING_KEY
      - R2_ACCESS_KEY_ID
      - INNGEST_SERVE_HOST
      - INNGEST_SERVE_PATH
      - R2_SECRET_ACCESS_KEY
      - R2_BUCKET_NAME
      - R2_PUBLIC_BASE_URL
      - SMTP_HOST
      - SMTP_PORT
      - SMTP_USER
      - SMTP_PASS
      - ADMIN_EMAIL
      - INNGEST_DEV
      - INNGEST_SECRET
      - INNGEST_BASE_URL
      - ALLOWED_EMAIL
      - NEXT_SERVER_ACTIONS_ENCRYPTION_KEY

    depends_on:
      - inngest

  inngest:
    image: inngest/inngest:latest
    container_name: agrilearn_inngest
    restart: unless-stopped
    command: inngest start
    ports:
      - "8288:8288"
      - "8289:8289" # websocket gateway

    env_file:
      - .env

    environment:
      - INNGEST_DEV=0
      - INNGEST_SIGNING_KEY
      - INNGEST_EVENT_KEY
      - INNGEST_SECRET
      - INNGEST_BASE_URL
      - INNGEST_SERVE_HOST
      - INNGEST_SERVE_PATH

networks:
  default:
    driver: bridge
