services:
  app:
    container_name: agrilearn_app
    image: ghcr.io/agrilearn-nexus/agrilearn-temp/app:latest
    restart: always
    ports:
      - "3000:3000"

    env_file:
      - .env

    environment:
      - NODE_ENV=production
      - DATABASE_URL
      - AUTH_SECRET
      - NEXTAUTH_URL
      - GOOGLE_CLIENT_ID
      - GOOGLE_CLIENT_SECRET
      - NEXT_PUBLIC_GOOGLE_CLIENT_ID
      - INNGEST_EVENT_KEY
      - INNGEST_SIGNING_KEY

    networks:
      - agri_network

    depends_on:
      - inngest

  inngest:
    image: inngest/inngest:latest
    container_name: agrilearn_inngest
    restart: unless-stopped
    command: [ "inngest", "start" ]
    ports:
      - "8288:8288"

    env_file:
      - .env

    environment:
      - INNGEST_DEV=0
      - INNGEST_SIGNING_KEY
      - INNGEST_EVENT_KEY

    networks:
      - agri_network

networks:
  agri_network:
    driver: bridge
